<div class="cover-image">
  <span class="duration badge bg-secondary fw-light">$duration</span>
  <div class="status">
    <div class="spinner spinner-border text-light position-absolute" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="play-status">
      <i class="fal fa-play fs-1 text-white"></i>
      <p class="text-white m-0 text-small"></p>
    </div>
  </div>
</div>
<div class="item-details">
  <div style="font-size: 0.9rem" class="fw-semibold">
    <span class="col-12">$name</span>
  </div>
  <div class="badges">
    <span
      class="badge rounded-pill mx-1 border border-white bg-primary text-dark fw-light"
      >$dimension</span
    >
    <span class="opacity-75 mx-1 badge rounded-pill bg-success fw-light"
      >$extension</span
    >
  </div>
</div>
